# Ignore everything
**

# Include
!/src/**
!/pyproject.toml
!/requirements*
!/LICENSE
!/COPYRIGHT
!/TRADEMARK

# Includes only used by ambox.
!/hack/box/**
!/hack/submodules/archivematica-storage-service/**
!/hack/submodules/archivematica-sampledata/SampleTransfers/DemoTransferCSV/**
!/hack/submodules/archivematica-sampledata/SampleTransfers/Images/**

# Exclude
src/archivematica/dashboard/frontend/node_modules
src/archivematica/dashboard/media/js/build
**/*~
**/*.log
**/node_modules
**/Thumbs.db
**/*.egg-info
**/__pycache__/
**/*.py[cod]
**/.mypy_cache
**/.ruff_cache
